

/* FONTS: */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 550;
    text-align: center;
    color: white;
    margin: 0
}

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #17252A;
    margin: 10

}



/* AREAS OF THE PAGE */

body{
    background-color: #3AAFA9;
}

.Wrap{
    padding: 0px;
}

.links{
    padding-top: 30px;
}

.link{
    padding-bottom: 20px
}

.linkbody{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}




#link{
    display:block;
    margin: auto;
    text-align: center;
    width: 100px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #DEF2F1;
    text-decoration: none;
    font-size: larger;

    background-color: #2B7A78;

    padding:15px;
    
    border:2px;
    border-color:#17252A;
    border-style: solid;
    border-radius: 10px;

}

#link:hover{

    background-color: #2B7A78;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    color: white;
    text-decoration: none;
    font-size: larger;

    padding:18px;

    border:2px;
    border-color:white;
    border-style: solid;
    
}