/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(150, 150, 150);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0,0,0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.weeks{
    margin: auto;
    max-width: 600px;
    padding-bottom: 30px;
    background-color: rgb(220,220,220);

      
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(6,85,53)
}


/* Set the apperance of the class, chart */
.chart{
    
    background-color: white;
    width:380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(6,85,53);
    padding: 10px;

    /* In this bit i'm trying to center the charts */
    margin-left: 118px;
    
    
}
    

/* Set the apperance for a particular chart */
/* #Chart1{
    border-color: blue;   
} */
